<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>About</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="./contact.html">Contact</a></li>
        <li><a class = "active" href="./about.html">About</a></li>
        <li><a class = "homeLogo" href="./index.html"><img src="./images/logo.svg" alt="Shaedy Cult" height="37"></a></li>
      </ul>
    </nav>

    <div class = "aboutBody">
      <p class = "aboutTitle">
        A BIT ABOUT US
      </p>
      <p class = "aboutTitleBody">
        We are a super trustworthy, and not creepy in any way, company filled with love for green paper. Established in 2015, we gained support quickly and our wonderful Kool-Aid started changing lives. We want to thank all of our supporters, even though they aren't with us anymore.
      </p>
    </div>

    <div class = "aboutBody">
      <h1 class = "aboutJebediah" style="left: -70px; top: -100px">
        <img class = "aboutJebediahImage" src = "./images/jeb.jpg" alt = "Jebediah">
        <p class = "aboutTitle" style = "color: #5C5C5C;display:inline;font-weight: 600;">
          Jebediah Jameson,
        </p>
        <p class = "aboutTitle" style = "color: #FF8ED8;display:inline;font-weight: 400">
          Co-Founder
        </p>
        <br></br>
        <p class = "aboutTitleBody">
          I have a direct line to God and have his explicit blessing to create this wonderful drink and bring his sheeple back to him in the afterlife.
        </p>
      </h1>
    </div>

    <div class = "aboutBody">
      <h1 class = "aboutJezabelle" style="right: -70px; top: -100px">
        <img class = "aboutJezabelleImage" src = "./images/jez.jpg" alt = "Jezabelle">
        <p class = "aboutTitle" style = "color: #FF8ED8;display:inline;text-align: right;font-weight: 400; float: right">
          &nbspCo-Founder
        </p>
        <p class = "aboutTitle" style = "color: #5C5C5C;display:inline;text-align: right;font-weight: 600; float: right">
          Jezabelle Jameson,
        </p>
        <br></br>
        <p class = "aboutTitleBody" style = "text-align:right; float: right">
          I am the moral support for the amazing leader that is my husband. His communion with God is a miracle and everyone should be able to take advantage of his divine greatness. Kool-aid for the win!
        </p>
      </h1>
    </div>

    <footer>
      <nav>
        <ul>
          <li><a href="./index.html" style = "float:left">Home</a></li>
          <li><a href="./about.html" style = "float:left">About</a></li>
          <li><a href="./contact.html" style = "float:left">Contact</a></li>
          <li><i class = "footerSocial"><img src="./images/instagram.svg" alt="Instagram" height="34" width ="34"></i></li>
          <li><i class = "footerSocial"><img src="./images/facebook.svg" alt="Facebook" height="34" width ="34"></i></li>
          <li><i class = "footerSocial"><img src="./images/twitter.svg" alt="Twitter" height="34" width ="34"></i></li>
        </ul>
      </nav>
      <p class = "footerCopyright">
        &copy ShaedyCult 2016
      </p>
    </footer>
  </body>
</html>
