<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>Contact</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a class = "active" href="./contact.html">Contact</a></li>
        <li><a href="./about.html">About</a></li>
        <li><a class = "homeLogo"  href="./index.html"><img src="./images/logo.svg" alt="Shaedy Cult" height="37"></a></li>
      </ul>
    </nav>

    <div class = "aboutBody">
      <p class = "aboutTitle">
        HOLD OUT A LITTLE LONGER
      </p>
      <p class = "aboutTitleBody">
        Fill out the form below and we will send you an email with a simple liability form for you to sign. After thatm we ship you your free can of Kool-Aid, satisfaction guarenteed. We've never heard a bad word from our wonderful customers, because they already moved on to the afterlife!
      </p>
    </div>

    <form class = "contactForm">

      <input class = "contactInput" placeholder = "First Name" style="width:45%;float:left">

      </input>
      <input class = "contactInput" placeholder = "Last Name" style="width:45%;float:right">

      </input>
      <input class = "contactInput" placeholder = "Email Address">

      </input>
      <br></br>
      <input class = "contactInput" placeholder = "Confirm Email Address">

      </input>
    </form>
    <br></br>
    <p class="contactButton">
      BRING ON THE AFTERLIFE
    </p>

    <footer>
      <nav>
        <ul>
          <li><a href="./index.html" style = "float:left">Home</a></li>
          <li><a href="./about.html" style = "float:left">About</a></li>
          <li><a href="./contact.html" style = "float:left">Contact</a></li>
          <li><i class = "footerSocial"><img src="./images/instagram.svg" alt="Instagram" height="34" width ="34"></i></li>
          <li><i class = "footerSocial"><img src="./images/facebook.svg" alt="Facebook" height="34" width ="34"></i></li>
          <li><i class = "footerSocial"><img src="./images/twitter.svg" alt="Twitter" height="34" width ="34"></i></li>
        </ul>
      </nav>
      <p class = "footerCopyright">
        &copy ShaedyCult 2016
      </p>
    </footer>
  </body>
</html>
