<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>Home</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="./contact.html">Contact</a></li>
        <li><a href="./about.html">About</a></li>
        <li><a class = "homeLogo"  href="./index.html"><img src="./images/logo.svg" alt="Shaedy Cult" height="37"></a></li>
      </ul>
    </nav>

    <div class="mainContent">
      <img class = "sodaImage" src ="./images/sodacans.png" alt = "Soda Cans">
      <p class="sodaAdvertHeadline" style ="display:inline">
        We've distilled God's essence into one simple 12oz can.
      </p>
      <p class="sodaAdvertSubtext">
        This drink is so amazing we're giving them away for free! The afterlife is only a click away!
      </p>
      <p class = "sodaButton">
        SEND ME MY KOOL-AID
      </p>
  </div>
<br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>
    <footer>
      <nav>
        <ul>
          <li><a href="./index.html" style = "float:left">Home</a></li>
          <li><a href="./about.html" style = "float:left">About</a></li>
          <li><a href="./contact.html" style = "float:left">Contact</a></li>
          <li><i class = "footerSocial"><img src="./images/instagram.svg" alt="Instagram" height="34" width ="34"></i></li>
          <li><i class = "footerSocial"><img src="./images/facebook.svg" alt="Facebook" height="34" width ="34"></i></li>
          <li><i class = "footerSocial"><img src="./images/twitter.svg" alt="Twitter" height="34" width ="34"></i></li>
        </ul>
      </nav>
      <p class = "footerCopyright">
        &copy ShaedyCult 2016
      </p>
    </footer>

  </body>
</html>
